body{
color: gold;
text-align: center;
font-family: "Arial";
}

#caja{
    width: 70%;
    padding: 13px;
    text-align: left;
    border: 2px solid black;
    margin: 0 auto;
}

#caja h1{
    font-size: 30px;
}
